@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-bg-primary: rgb(244, 111, 78);
		--color-bg-secondary: rgb(23, 52, 54);
		--color-text-primary: rgb(244, 111, 78);
		--color-text-secondary: rgb(23, 52, 54);
		--color-border-primary: rgb(244, 111, 78);
		--color-border-secondary: rgb(23, 52, 54);
		--color-accent: rgb(241, 248, 249);
	}
	.theme-dark {
		--color-bg-primary: rgb(244, 111, 78);
		--color-bg-secondary: rgb(37, 82, 86);
		--color-text-primary: rgb(244, 111, 78);
		--color-text-secondary: rgb(241, 248, 249);
		--color-border-primary: rgb(244, 111, 78);
		--color-border-secondary: rgb(241, 248, 249);
		--color-accent: rgb(12, 27, 29);
	}
}
