@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		/* background */
		--color-bg-primary: 23, 52, 54;
		--color-bg-secondary: 255, 145, 77;
		--color-bg-hover: 230, 130, 69;
		--color-bg-fill: 241, 248, 249;
		/* text */
		--color-text-primary: 23, 52, 54;
		--color-text-secondary: 255, 145, 77;
		--color-text-accent: 244, 111, 78;
		--color-text-paragraph: 20, 23, 26;
		/* border */
		--color-border-primary: 23, 52, 54;
		--color-border-secondary: 255, 145, 77;
		/* --color-border-accent: 166, 124, 114; */
	}
	:root.theme-dark {
		/* background */
		--color-bg-primary: 84, 84, 94;
		--color-bg-secondary: 159, 159, 179;
		--color-bg-hover: 134, 134, 150;
		--color-bg-fill: 34, 34, 38;
		/* text */
		--color-text-primary: 84, 84, 94;
		--color-text-secondary: 159, 159, 179;
		--color-text-accent: 166, 124, 114;
		--color-text-paragraph: 241, 248, 249;
		/* border */
		--color-border-primary: 84, 84, 94;
		--color-border-secondary: 159, 159, 179;
		/* --color-border-accent: 166, 124, 114; */
	}
}
